---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 110
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
SeparateDefinitionBlocks: Always
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"driftfall/'
    Priority: 1
  - Regex: '^<(bgfx|bx|SDL3|entt|glm|doctest)/'
    Priority: 3
  - Regex: '^<'
    Priority: 4
  - Regex: '.*'
    Priority: 2
